# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.dl_env/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Pyenv local version file (optional)
.python-version

# Pickle Dataset
*.pkl

# Dataset
/dataset/leapGestRecog